
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutWithoutSlider.cshtml";
}



<section class="book_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Welcome Please Sign Up
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form_container">
                    <form method="post">
                        <div>
                            <input type="text" class="form-control" placeholder="Your Name" name="Name"/>
                        </div>
                        <div>
                            <input type="email" class="form-control" placeholder="Your e-mail" name="Email" />
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Your password" name="Password"/>
                        </div>
                        <div class="btn_box">
                            <button>
                                Sign Up
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>