
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutWithoutSlider.cshtml";
}


@{
    ViewData["Title"] = "Index";
}

<section class="book_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Leave a Comment
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form_container">
                    <form action="">
                        <div>
                            <input type="text" class="form-control" placeholder="Your Name" />
                        </div>
                        <div>
                            <textarea type="text" class="form-control" placeholder="Your Comment" maxlength="500"></textarea>
                        </div>
                        <div class="btn_box">
                            <button>
                                Comment
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


