@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<EntityLayer.Concrete.Food>

<button class="user_link btn bg-transparent " id="cart"><i class="fa fa-shopping-cart"></i> Cart </button>
<div class="shopping-cart">
    <div class="shopping-cart-header">
        <i class="fa fa-shopping-cart cart-icon"></i>
        <div class="shopping-cart-total">
            <span class="lighter-text">Total:</span>
            <span class="main-color-text total">$461.15</span>
        </div>
    </div> <!--end shopping-cart-header -->

    @foreach (var item in Model)
    {
        <ul class="shopping-cart-items">
            <li class="clearfix">
                <img src="https://www.qispackaging.com.au/getmetafile/b2f41988-a7b4-432c-b9c2-25bcb9afbcc3/XMJBRR.aspx" alt="item1" />
                <span class="item-name">XMJBRR</span>
                <span class="item-detail">Pack 25</span>
                <span class="item-price">$14.21</span>
                <span class="item-quantity">Quantity: 5</span>
            </li>
        </ul>
    }







    <a href="#" id="checkout">Checkout <i class="fa fa-chevron-right"></i></a>
</div> <!--end shopping-cart -->
