@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="bg-box">
    <img src="~/feane/images/hero-bg.jpg" alt="">
</div>
<header class="header_section">
    <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <span>
                    Feane
                </span>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  mx-auto ">



                    <li class="nav-item @ViewBag.home">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item @ViewBag.about">
                        <a class="nav-link" asp-controller="About" asp-action="Index"> About Us</a>
                    </li>
                    <li class="nav-item @ViewBag.comment">
                        <a class="nav-link" asp-controller="Comment" asp-action="Index">  Leave a Comment</a>
                    </li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
                <div class="user_option">


                    @await Component.InvokeAsync("Cart")
                </div>
            </div>
        </nav>
    </div>
</header>

