@using EntityLayer.Concrete
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<div class="bg-box">
    <img src="~/feane/images/hero-bg.jpg" alt="">
</div>
<header class="header_section">
    <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <span>
                    Feane
                </span>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  mx-auto ">



                    <li class="nav-item @ViewBag.home">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item @ViewBag.about">
                        <a class="nav-link" asp-area="" asp-controller="About" asp-action="Index"> About Us</a>
                    </li>
                    <li class="nav-item @ViewBag.comment">
                        <a class="nav-link" asp-area="" asp-controller="Comment" asp-action="Index">  Leave a Comment</a>
                    </li>

                    @if (User.IsInRole("Admin"))
                    {
                        <li class="dropdown nav-item">
                            <a class="dropbtn nav-link">Admin</a>
                            <div class="dropdown-content">
                                <a href="/Admin/Foods">Foods</a>
                                <a href="/Admin/Discounts">Discounts</a>
                                <a href="/Admin/Categories">Categories</a>
                            </div>
                        </li>
                    }
                </ul>

                @await Html.PartialAsync("_LoginPartial")
                <div class="user_option">
                    @await Component.InvokeAsync("Cart")
                </div>
            </div>
        </nav>
    </div>
</header>

