
<link />
<script src="https://kit.fontawesome.com/f9275dded9.js" crossorigin="anonymous"></script>
<link href="css/userPopUp.css" rel="stylesheet" />
<!--Trigger-->


<div id="login" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-body">
                
                <div class="containerPop" id="containerPop">
                    <div class="form-containerPop sign-in-containerPop">
                        <div class="popform">
                            <h1 class="poph1">Hi!</h1>
                            <p class="popp">If you have a account click here log in</p>
                            <a asp-area="Identity" asp-page="/Account/Login" class="ghost popbutton" id="signUp">Log in</a>
                        </div>
                    </div>
                    <div class="overlay-containerPop">
                        <div class="overlay">
                            <div class="overlay-panel overlay-right">
                                <h1 class="poph1">Hello, Friend!</h1>
                                <p class="popp">Enter your personal details and start journey with us</p>
                                <a asp-area="Identity" asp-page="/Account/Register"  class="ghost popbutton" id="signUp">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/userPopUp.js" crossorigin="anonymous"></script>
