
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="~/feane/images/favicon.png" type="">
    <title> Feane </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link href="~/css/cart.css" rel="stylesheet" />
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/feane/css/bootstrap.css" />
    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- nice select  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
    <!-- font awesome style -->
    <link href="~/feane/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/feane/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/feane/css/responsive.css" rel="stylesheet" />
</head>
<body>
    <div class="hero_area ">
        <div class="bg-box">
            <img src="~/feane/images/OrderTaken.jpg" alt="" />
        </div>
        @await Html.PartialAsync("_HeaderWithoutCart")
        <div style="z-index:4;color:white" class="container mt-lg-5">
            <div class="row"><h1>Your Order Has Been Taken</h1></div>
            <div class="row"><h2>You can return home</h2></div>


        </div>
    </div>
</body>
</html>
