@model EntityLayer.Concrete.User
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutWithoutSlider.cshtml";
}

<section class="book_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Welcome Please Sign In
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form_container">
                    @using (Html.BeginForm("Index", "SignIn", FormMethod.Post))
                    {
                        <div>
                            @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Your Email" })

                        </div>
                        <div>
                            @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                            @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Your Password" })

                        </div>
                        <div class="btn_box">
                            <button>
                                Sign In
                            </button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

